#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.CVTemplate {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.CVTemplate h2 {
  color: #555;
  text-align: center;
  margin-top: 20px;
}

.CVTemplate label {
  font-weight: bold;
}

.CVTemplate input[type="text"],
.CVTemplate input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.CVTemplate button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.CVTemplate button:hover {
  background-color: #45a049;
}

.FinalCV {
  margin-top: 40px;
}

.FinalCV h2 {
  color: #555;
  text-align: center;
}

.FinalCV p {
  margin-bottom: 5px;
}

.FinalCV ul {
  list-style-type: none;
  padding: 0;
}

.FinalCV li {
  margin-bottom: 20px;
}

.FinalCV li p {
  font-weight: bold;
}

.centered-container {
  width: 80%;
  /* Adjust the width as needed */
  margin: 0 auto;
  /* This will horizontally center the container */
}

.center {
  display: flex;
  justify-content: center;
}

.line {
  display: flex;
  justify-content: space-between;
}